<div id="login-form" class="animate form registration_form">
  <section class="login_content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), remote: true)  do |f| %>

      <h1><%= t (".login") %></h1>
      <div id="login-notice">
        <% flash.each do |message_type, message| %>
          <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
        <% end %>

      <div>
      <%= f.email_field :email, placeholder: t(".email"),
        class: "form-control" %>

      <%= f.password_field :password, placeholder: t(".pass"),
        class: "form-control"%>

      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    <% end %>
    <hr/>
    <%= t ".other" %>
    <br/>
    <div class="col">
      <%= link_to user_facebook_omniauth_authorize_path, class: "fb btn" do %>
        <i class="fa fa-facebook fa-fw"></i>
        <%= t ".facebook" %>
      <% end %>
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "google btn" do %>
        <i class="fa fa-facebook fa-fw"></i>
        <%= t ".google" %>
      <% end %>
    </div>
    <div class="separator">
      <%= t ".new" %>
      <span class="change_link">
        <%= link_to t(".signup"), new_user_registration_path, remote: true %>
      </span>
    </div>
  </section>
</div>
