<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="" class="site_title">
        <i class="fa fa-paw"></i> <span>PJ1</span>
      </a>
    </div>
    <br/>
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3><%= t ".general" %></h3>
        <ul class="nav side-menu">
          <li>
            <%= link_to admin_static_pages_path do%>
              <i class="fa fa-reorder"></i> <%= t ".dashboard" %>
            <% end %>
          </li>
          <li>
            <%= link_to admin_users_path do%>
              <i class="fa fa-users"></i> <%= t ".users" %>
            <% end %>
          </li>
          <li>
            <%= link_to admin_categories_path do%>
              <i class="fa fa-cogs"></i> <%= t ".categories" %>
            <% end %>
          </li>
          <li>
            <%= link_to admin_suggestions_path do%>
              <i class="fa fa-comments"></i> <%= t ".suggestion" %>
            <% end %>
          </li>
          <li>
            <%= link_to admin_products_path do%>
              <i class="fa fa-print"></i> <%= t ".products" %>
            <% end %>
          </li>
          <li>
            <%= link_to admin_orders_path do%>
              <i class="fa fa-send"></i> <%= t ".orders" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
