<div class="header-ctn">
  <div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
      <i class="fa fa-shopping-cart"></i>
      <span><%= t ".your_cart" %></span>
      <div class="qty">
        <%= total_quantity %>
      </div>
    </a>
    <div class="cart-dropdown">
      <div class="cart-list">
        <%= render partial: "carts/cart" %>
      </div>
      <div class="cart-btns">
        <% if logged_in? %>
          <%= link_to new_order_path do %>
            <%= t(".checkout") %>
            <i class="fa fa-arrow-circle-right"></i>
          <% end %>
        <% else%>
          <a class="fa fa-arrow-circle-right" data-toggle="modal" data-target="#myModal" onclick="show_md()">
            Login for checkout
          </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="menu-toggle">
    <a href="#">
      <i class="fa fa-bars"></i>
      <span><%= t ".menu" %></span>
    </a>
  </div>
</div>
<script>

</script>
