<%= render "option" %>
<%= render @options[params[:option].to_i] || "user", objects: @objects %>
<div class="col-md-12 col-sm-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><%= yield :title %>  <small>Sessions</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <%= yield :chart %>
    </div>
    <div>
      <%= form_tag admin_root_path(format: "xls"), method: "get" do %>
        <%= hidden_field_tag "option", params[:option] %>
        <%= hidden_field_tag "start_date", params[:start_date] %>
        <%= hidden_field_tag "end_date", params[:end_date] %>
        <button type="submit" class="btn "><%= t ".export"%></button>
      <% end %>
    </div>
  </div>
</div>
