<div class="col-md-4 col-xs-6">
  <div class="product">
    <div class="product-img">
      <%= product_avatar(product) %>
      <div class="product-label">
        <% if product.have_promotion? %>
          <span class="sale">-<%= product.percent_promotion %>%</span>
        <% end %>
        <% if product.new? %>
          <span class="new">NEW</span>
        <% end %>
      </div>
    </div>
    <div class="product-body">
      <h3 class="product-name"><%= link_to product.name, product %></h3>
      <h4 class="product-price"><%= product.current_price %>
        <% if product.have_promotion? %>
        <del class="product-old-price"><%= product.price %></del>
        <% end %>
      </h4>
      <div class="product-rating">
        <% (1..product.rating_average.round).each do |i| %>
          <i class="fa fa-star"></i>
        <% end %>
        <% (1..(5-product.rating_average.round)).each do |i| %>
          <i class="fa fa-star-o"></i>
        <% end %>
      </div>
      <div class="product-btns">
        <button class="quick-view">
          <%= link_to product do %>
            <i class="fa fa-eye"></i>
          <% end %>
          <span class="tooltipp"><%= "View" %></span>
        </button>
      </div>
    </div>
    <div class="add-to-cart">
      <%= button_to add_product_carts_path, remote: true, method: :post,
          class: "add-to-cart-btn" do  %>
        <i class="fa fa-shopping-cart"></i> add
        <input type="text" name="key" hidden value="<%= product.id %>">
      <% end %>
    </div>
  </div>
</div>
