<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user-o"></i><%= t ".my_account" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile") %></li>
              <li><%= link_to t(".settings") %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>

          <li class="header-text" data-toggle="modal" data-target="#myModal">
            <%= t ".login" %>
          </li>
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <%= render "sessions/login_form" %>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <select class="input-select">
              </select>
              <input class="input" placeholder="<%= t ".search_here" %>">
              <button class="search-btn"><%= t ".search" %></button>
            </form>
          </div>
        </div>
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-shopping-cart"></i>
                <span><%= t ".your_cart" %></span>
                <div class="qty"></div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list"></div>
                <div class="cart-summary"></div>
                <div class="cart-btns">
                  <a href="#"><%= t ".view_cart" %></a>
                  <a href="#"><%= t ".checkout" %>
                    <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span><%= t ".menu" %></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<%= render "layouts/navbar" %>
