<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield :title) %></title>
  <meta property="og:url"           content="<%= request.original_url %>"/>
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="<%= full_title(yield :title) %>"/>
  <meta property="og:description"   content="Web site sale print"/>
  <meta property="og:image"         content="https://shrouded-stream-40111.herokuapp.com/assets/product01-17812ba88e9c6ca84a3ef7057f77ab0f6a526c52b8f8aa90dcbdac61e5e2e02b.png"/>
  <%= render "layouts/rails_default" %>
  <%= render "layouts/shim" %>
</head>
<body>
<%= render "layouts/header" %>
  <div id="flash_messages">
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
    <% end %>
  </div>
  <%= yield %>
  <%= render "layouts/footer" %>
  <%= debug(params) if Rails.env.development? %>
  <%= javascript_include_tag "navbar.js" %>
</body>
</html>
